body {
    margin: 0px;
    padding: 0px;
    background-color: #000;
}

.playaxe-white {
    background-color: white !important;
    -moz-box-shadow: 0px 1px 1px 3px rgba(0,0,0,.4) !important;
    -webkit-box-shadow: 0px 1px 1px 3px rgba(0,0,0,.4) !important;
    box-shadow: 0px 1px 1px 3px rgba(0,0,0,.4) !important;
}

.canvas-opcty {
    opacity: .8;
}

.canvas-cont {
    position: relative;
    max-height: calc( 100vh - 210px ) !important;
    height: calc( 100vh - 210px ) !important;
    overflow-y: hidden;
    z-index:2;
    background-image: url('../spectrogram.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.canvas-cont-spectr {

}

.waveform { margin:0px; padding:0px; text-align:center; }
.waveform #spinner { position:absolute; display:inline-block; margin-top:55px !important; color:#3b2651; font-size:40px; z-index:9999; }


canvas#myChart {
    position: absolute;
    z-index: 1;
    height: 100vh;
    background-color: #3b2651;
}

.canvas-spectr {
    background-image: url('../spectrogram-snd.jpg');
    background-repeat: no-repeat;
    background-size: 100% calc( 100vh - 210px );
}

.container {
    position: absolute;
    top:0px;
    width: 100%;
    height: 100vh !important;
    margin: 0px;
    padding: 0px;
}

.table {
    display: table;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.table_cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    margin: 0px;
    padding: 0px;
}

.player {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 210px;
    /*background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, .5));*/
    background-color:rgba(0,0,255,.2);
    z-index: 2;
}

.waveform {
    margin: 0px;
    padding: 30px 0;
}

.hint {
    font-size: 10pt;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    z-index: 3;
    width: 100%;
    text-align: center;
    top: calc( 100vh - 20px);
    opacity:.5;
}

.playaxe {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2px;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: red;
    z-index: 2;
    -moz-box-shadow: 0px 1px 1px 3px rgba(0,0,0,.13);
    -webkit-box-shadow: 0px 1px 1px 3px rgba(0,0,0,.13);
    box-shadow: 0px 1px 1px 3px rgba(0,0,0,.13);
}
